<div class="row">
	<div class="col-sm-6">
		<img ng-src="{{movie.Poster}}"/>
	</div>
	<div class="col-sm-4 col-sm-offset-1">
		<img ng-src="{{gifs[0].images.original.url}}"/>
	</div>
</div>


<div class="row">
	<div class="col-sm-6">
		<h2>{{movie.Title}}</h2>
		<p>Year: {{movie.Year}}</p>
		<p>Actors: {{movie.Actors}}</p>
		<p>Genre: {{movie.Genre}}</p>
		<p>Rating: {{movie.imdbRating}}</p>
	</div>
	<div class="col-sm-4 col-sm-offset-1">
		<img ng-src="{{gifs[1].images.original.url}}"/>
	</div>
</div>


<div class="row">
	<div class="col-sm-6">
		<p>Votes: {{movie.imdbVotes}}</p>
		<p>Plot: {{movie.Plot}}</p>
	</div>
	<div class="col-sm-4 col-sm-offset-1">
		<img ng-src="{{gifs[2].images.original.url}}"/>
	</div>
</div>


<div class="row">
	<div class="col-sm-4 col-sm-offset-7">
		<img ng-src="{{gifs[3].images.original.url}}"/>
	</div>
</div>


<div class="row">
	<div class="col-sm-4 col-sm-offset-7">
		<img ng-src="{{gifs[4].images.original.url}}"/>
	</div>
</div>


<div class="row">
	<div class="col-sm-4 col-sm-offset-7">
		<img ng-src="{{gifs[5].images.original.url}}"/>
	</div>
</div>


<div class="row">

	<div class="col-sm-4 col-sm-offset-7">
		<img ng-src="{{gifs[6].images.original.url}}"/>
	</div>
</div>


<div class="row">
	<div class="col-sm-4 col-sm-offset-7">
		<img ng-src="{{gifs[7].images.original.url}}"/>
	</div>
</div>
