
	.wrapper { padding: 0px 36px; }
	.wrapper { padding: 0px 48px; }
	.wrapper { margin: 0; padding: 0px 40px; border-bottom: 1px solid #e3e3e3; }
	
	a, a:visited { color: #212121; text-decoration: none; outline: 0; transition: color 0.2s linear; -moz-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; -o-transition: color 0.2s linear;}
	
	#home #footer-container { margin-top: 72px; }
	#footer-container #footer { padding: 24px 0; border-top: 1px solid #e3e3e3; text-transform: uppercase; font-size: 11px; font-weight: 500; letter-spacing: 0.15em; }

	.center { text-align: center; }
	
    .container{ position: relative; width: 1200px; margin: 0 auto; padding: 0; }
    .column, .columns{ float: left; display: inline; margin-left: 12px; margin-right: 12px; line-height: 0; }
    .row{ margin-bottom: 20px; }
    .column.alpha, .columns.alpha {margin-left: 0;}
    .column.omega, .columns.omega  { margin-right: 0; }
	.column, .columns {padding-bottom: 24px; }
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
    .clearfix:before,.clearfix:after,.row:before,.row:after 
	{
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; 
	}
	  
    .row:after,.clearfix:after 
	{
      clear: both; 
	}
	  
    .row,.clearfix 
	{
      zoom: 1; 
	}

    .clear 
	{
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


