<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Day 8 Afternoon</title>
	<link rel="stylesheet" href="./day8afternoon.css">
</head>
<body ng-app="groceryApp">
	<div ng-controller="GroceryCtrl">
		<form id="form1" onsubmit="getFormvalue()">  
			Item name: <input id="item" type="text" ng-model="itemName" placeholder="Enter item name"><br>  
			Quantity: <input id="quant" type="text" ng-model="quantity" placeholder="Enter number of items"><br>  
		</form> 
		<button ng-click="addGroceryItem()" id="add-btn">Click to add item(s)</button>

		<form id="form2" onsubmit="getFormvalue()">  
			<input id="search" type="text" ng-model="itemSearch" placeholder="Enter item to search"><br>    
		</form>
		<button ng-clicK="searchBtn" id="search-btn">Search</button>

		<ol>
        	<li ng-repeat="item in groceryList | filter:itemSearch track by $index">
          		{{ item.name }} : {{ item.qty }}
          		<a href="#"><div ng-click="addOne($index)" class="plus">+</div></a>
        		<a href="#"><div ng-click="minusOne($index)" class="minus">-</div></a>
        	</li>
      	</ol>

		<script src="angular.js"></script>
		<script src="day8afternoon.js"></script>
	</div>
</body>
</html>